## .format strings

In [2]:
My_name = "John Analytics"
language = "Python"
print("Hello {} welcome to {} session.".format(My_name, language))

Hello John Analytics welcome to Python session.

In [5]:
apples = 5
total_cost = 120
print("You bought {} apples and the total cost is {}.".format(apples,total_cost))

You bought 5 apples and the total cost is 120.

In [10]:
first_name = "Roman"
last_name = "Briscole"
name = "full_name"
print("Your {} is {} {}!".format(name,first_name,last_name))

Your full_name is Roman Briscole!

In [11]:
day = "monday"
temperature = "23.5"
print("Today is {} and the temperature is {} celsius!".format(day, temperature))

Today is monday and the temperature is 23.5 celsius!

In [13]:
student = "Jane"
grade = 95
subject = "Math"
print("Student {} got {}% in {} test.".format(student, grade, subject))

Student Jane got 95% in Math test.

In [14]:
original = 50
discount = 10
final = 40
print("Original: ${}, Discount: ${}, Final Price: ${}".format(original, discount, final))

Original: $50, Discount: $10, Final Price: $40

In [15]:
name = "John"
print("Reminder: {}, you have an appointment today, {}.".format(name, name))

Reminder: John, you have an appointment today, John.

Boolean Function

In [17]:
def is_even(num):
    return num % 2 == 0

print(is_even(4))   
print(is_even(7))

True
False

In [19]:
def is_positive(num):
    return num > 0 
print(is_positive(20))
print(is_positive(-20))

True
False

In [23]:
def is_vowel(char):
    return char in ["a","e","i","o","u"]
print(is_vowel("a"))
print(is_vowel("d"))

True
False

In [24]:
def can_vote(age):
    return age >= 18
print(can_vote(22))
print(can_vote(12))
print(can_vote(33))
print(can_vote(7))

True
False
True
False

In [28]:
def is_leap_year(year):
    return year % 2 == 0
print(is_leap_year(2017))
print(is_leap_year(2010))
print(is_leap_year(1885))
print(is_leap_year(1994))

False
True
False
True

In [31]:
def is_valid_password(pwd):
    return len(pwd) > 8
print(is_valid_password("20120jdwdw"))
print(is_valid_password("jiiji9"))

True
False

In [36]:
def is_palindrome(word):
    return word == word[:: -1]
print(is_palindrome("cat"))
print(is_palindrome("madam"))
print(is_palindrome("zeez"))

False
True
True

All Lists

In [37]:
dog_types = ["German Shepherd", "Rotweiler", "Bosco", "Chiwawa","Bull Dog", "Border Collie", "Bosco"]
print(dog_types)

['German Shepherd', 'Rotweiler', 'Bosco', 'Chiwawa', 'Bull Dog', 'Border Collie', 'Bosco']

In [41]:
# Accessing items in a list via indexing
print(dog_types[4]) # This is positive indexing
print(dog_types[-2]) # This is negative indexing

Bull Dog
Border Collie

In [42]:
# Changing list items
dog_types[2] = "Slovenia dog"
print(dog_types)

['German Shepherd', 'Rotweiler', 'Slovenia dog', 'Chiwawa', 'Bull Dog', 'Border Collie', 'Bosco']

In [ ]:
# Adding items to a list
# Using .append()
dog_types.append("Husky")
print(dog_types)

['German Shepherd', 'Rotweiler', 'Slovenia dog', 'Chiwawa', 'Bull Dog', 'Border Collie', 'Bosco', 'Husky']

In [ ]:
# Using.insert(index,item)
dog_types.insert(2,"Golden Retriever") # At index 2
dog_types

['German Shepherd',
 'Rotweiler',
 'Golden Retriever',
 'Slovenia dog',
 'Chiwawa',
 'Bull Dog',
 'Border Collie',
 'Bosco',
 'Husky']